n8n_linkedin_job_search_and_cover_letter_builder/json/linkedin-job-matching-workflow.json.json
{
  "name": "LinkedIn job search: auto-match resume with AI + cover letter & Telegram alerts",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "links",
        "options": {}
      },
      "id": "bd8ca013-eefb-439e-b15b-48b5502ffa91",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        2576,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "22a12a7d-2ef7-47d2-8a01-50d1b24b3dc8",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        432,
        928
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "4f32bc04-34d5-48d3-b87b-eb6f9e5d655b",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        480,
        656
      ],
      "webhookId": "c9cb4878-ae4d-4b8e-bd37-5395011f7761",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your job is to use keywords in my resume to identify job matches. Read my resume then compare it to the job description and provide a job matching score. also write a cover letter based on my resume and the job description. cover letter must be at least 2 paragraph and ignore the name, address and signiture part from start and end.\nif you are using special character like \" use \\ to escape it. output must be parse in json without error. \n\nfor example your response should be like: {\"score\": 80, \"coverLetter\": \"sample cover letter\" }\n\nRespond ONLY with a raw JSON object. No markdown, no code fences, no explanation. Just the JSON.\n\n{\n  \"score\": 0-100,\n  \"coverLetter\": \"...\"\n}\n\njob_description: {{ $json.description }}\nmy_resume: {{ $('Extract from File').item.json.text }}",
        "options": {}
      },
      "id": "dbe8693f-b1bb-4a90-81f8-74e547da6345",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1616,
        672
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "7facf548-a5ae-40f6-9733-30b7dd18f5c6",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        864,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1774rmHCxzcRWgYhHCzWKmtPapSAfyZlWxKQFKIZQ_lw",
          "mode": "list",
          "cachedResultName": "n8n - Job Search",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1774rmHCxzcRWgYhHCzWKmtPapSAfyZlWxKQFKIZQ_lw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1038962310,
          "mode": "list",
          "cachedResultName": "Filter",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1774rmHCxzcRWgYhHCzWKmtPapSAfyZlWxKQFKIZQ_lw/edit#gid=1038962310"
        },
        "options": {}
      },
      "id": "04ae55dc-2c78-4bef-b76b-a6abe0d2b287",
      "name": "Get row(s) in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1600,
        352
      ],
      "typeVersion": 4.6,
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lBMUT03WIOnk3E2N",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "a1261369-4939-44a5-908f-1f79cf05d275",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        320,
        352
      ],
      "notesInFlow": false,
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "Worklofw executes daily at 5pm, you can change the interval and time of execution.\n",
        "height": 260
      },
      "id": "bff65551-c8ab-4f3b-a6f7-1705b340a4dc",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Read user resume from google drive, you need to upload your resume in pdf format and select in **From List** section.",
        "height": 260,
        "color": 4
      },
      "id": "5e5e4480-3608-45de-bda0-e7d36a2b20c3",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Convert pdf file into text to AI can read content.",
        "height": 260,
        "color": 5
      },
      "id": "b4ed86d6-8562-4738-9972-5eaa2ef296b5",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Read search filter consiste of keywords, location, experience level, remot, job type and easy apply from google sheet.\n\nYou can download [this Template](https://docs.google.com/spreadsheets/d/1mtKVxj_z_QCLGXMx0mJVihWSgS41SzHfU1Rv4r_mRY0) and copy in your personal space.",
        "height": 300,
        "width": 272,
        "color": 4
      },
      "id": "5c7bb6c3-ecfa-4fdd-a6f0-e1f8da743383",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1504,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Create Linkedin search url from filter params.",
        "height": 260,
        "width": 180
      },
      "id": "fc4bc16a-a825-4d26-8b9b-2254338c7d56",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1808,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Extrat Job links from Linkdin search result",
        "height": 320,
        "width": 220
      },
      "id": "e83ad624-2aca-4ad4-b82b-69c2ea14deb8",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2224,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "fetch jobs one by one",
        "height": 300,
        "width": 180,
        "color": 6
      },
      "id": "33939f6d-2a09-4f9f-a59c-f287ef4daf72",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2544,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Wait 10 sec between each job fetch.",
        "height": 260,
        "width": 180,
        "color": 3
      },
      "id": "2add2540-d2ca-4903-b497-17bc141b4a18",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        432,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.links }}",
        "options": {}
      },
      "id": "df5815da-e55c-494e-919c-07b93ec4b9fa",
      "name": "Fetch Job Page",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        624,
        656
      ],
      "executeOnce": false,
      "retryOnFail": true,
      "typeVersion": 4.2,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "Parse job HTML page, extract **title**, **company**, **location**, **jobDescription** and **applyLink** from it",
        "height": 300,
        "width": 316,
        "color": 6
      },
      "id": "33b9404e-ca19-48f5-b55d-c62d6c5d4507",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        736,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "AI model compare your resume and job description and rate your resume from 0-100, (0 does not match, 100 fully match) and also AI will write a sample cover letter based on your resume and your expriences and job description.\nI used Gemini model here, you can use othe AI model like OpenAI (chat GPT)",
        "height": 440,
        "width": 564,
        "color": 7
      },
      "id": "a5c28135-f232-4fee-8127-646ec8f20854",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Convert AI output to JSON.",
        "height": 300,
        "width": 180,
        "color": 6
      },
      "id": "7bba7f09-fd34-477a-a4db-3c4baf3ca5af",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2208,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Add new job with score in google sheet.\n\nYou can download [this Template](https://docs.google.com/spreadsheets/d/1mtKVxj_z_QCLGXMx0mJVihWSgS41SzHfU1Rv4r_mRY0) and copy in your personal space.",
        "height": 300,
        "width": 260,
        "color": 4
      },
      "id": "b20dbe40-7efa-4378-89cc-53bb392221c2",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2416,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.output }}",
        "includeOtherFields": true,
        "options": {}
      },
      "id": "9838b440-d3ad-4665-b47b-d04e4d2cb928",
      "name": "Parse AI Output",
      "type": "n8n-nodes-base.set",
      "position": [
        2240,
        672
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "div h1"
            },
            {
              "key": "company",
              "cssSelector": "div span a"
            },
            {
              "key": "location",
              "cssSelector": "div span[class*='topcard__flavor topcard__flavor--bullet']"
            },
            {
              "key": "description",
              "cssSelector": "div.description__text.description__text--rich"
            },
            {
              "key": "jobid",
              "cssSelector": "a[data-item-type='semaphore']",
              "returnValue": "attribute",
              "attribute": "data-semaphore-content-urn"
            }
          ]
        },
        "options": {}
      },
      "id": "a4d125b1-8d0c-4927-9470-33ab24b6706b",
      "name": "Parse Job Attributes",
      "type": "n8n-nodes-base.html",
      "position": [
        768,
        656
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "784ead57-9d83-4e08-b83c-23fa165bf045",
              "name": "description",
              "type": "string",
              "value": "={{ $json.description.replaceAll(/\\s+/g, \" \") }}"
            },
            {
              "id": "fd3c9d2c-5ff9-46a7-b70a-f990fbc7da9d",
              "name": "jobid",
              "type": "string",
              "value": "={{ $json.jobid.split(\":\").last() }}"
            },
            {
              "id": "27a20cd2-ab0d-42b7-9cee-ea64e0e26ea3",
              "name": "applyLink",
              "type": "string",
              "value": "={{ \"https://www.linkedin.com/jobs/view/\"+ $json.jobid.split(\":\").last() }} "
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "ba71d7c3-a89a-447d-aba6-7a0fdfda19dc",
      "name": "Modify Job Attributes",
      "type": "n8n-nodes-base.set",
      "position": [
        928,
        656
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "links",
              "cssSelector": "ul.jobs-search__results-list li div a[class*=\"base-card\"]",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "id": "af4831f6-f9fa-4d68-aee1-d0ba38d8a46c",
      "name": "Extract Job Links",
      "type": "n8n-nodes-base.html",
      "position": [
        2272,
        352
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "model": "Llama3.1:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1488,
        880
      ],
      "id": "6443af1b-5457-4d18-80df-7228cf92f215",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "TTnEdqL45LwcwtvK",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1BUm9P7NAp-xavtKiW3AcxZfDEZoTXLI2",
          "mode": "list",
          "cachedResultName": "Michael_Liversedge_Resume.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1BUm9P7NAp-xavtKiW3AcxZfDEZoTXLI2/view?usp=drivesdk"
        },
        "options": {}
      },
      "id": "9ab899ad-6f37-446c-99bb-f7c92aae39e7",
      "name": "Download file",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        592,
        352
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "t40oOyrlhPPEeOTc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1774rmHCxzcRWgYhHCzWKmtPapSAfyZlWxKQFKIZQ_lw",
          "mode": "list",
          "cachedResultName": "n8n - Job Search",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1774rmHCxzcRWgYhHCzWKmtPapSAfyZlWxKQFKIZQ_lw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Result",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1774rmHCxzcRWgYhHCzWKmtPapSAfyZlWxKQFKIZQ_lw/edit#gid=0"
        },
        "columns": {
          "value": {
            "link": "={{ $('Modify Job Attributes').item.json.applyLink }}",
            "Title": "={{ $('Modify Job Attributes').item.json.title }}",
            "score": "={{ $json.score }}",
            "Company": "={{ $('Modify Job Attributes').item.json.company }}",
            "Location": "={{ $('Modify Job Attributes').item.json.location }}",
            "description": "={{ $('Modify Job Attributes').item.json.description }}",
            "Cover Letter": "={{ $json.coverLetter }}"
          },
          "schema": [
            {
              "id": "Title",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Company",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Location",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "link",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "link",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "score",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "score",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Cover Letter",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Cover Letter",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "link"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "26acf7d7-717b-4993-a35f-b8f47bacb932",
      "name": "Append row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2496,
        672
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lBMUT03WIOnk3E2N",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let url = \"https://www.linkedin.com/jobs/search/?f_TPR=r86400\";\n\nconst keyword = $input.first().json.Keyword;\nconst location = $input.first().json.Location;\nconst remote = $input.first().json.Remote;\nconst jobType = $input.first().json['Job Type'];\n\nif (keyword && keyword != \"\") {\n  url += `&keywords=${encodeURIComponent(keyword)}`;\n}\n\nif (location && location != \"\") {\n  url += `&location=${encodeURIComponent(location)}`;\n}\n\nif (remote && remote != \"\") {\n  const transformedRemote = remote\n    .split(\",\")\n    .map((e) => {\n      switch (e.trim()) {\n        case \"Remote\":  return \"2\";\n        case \"Hybrid\":  return \"3\";\n        case \"On-Site\": return \"1\";\n        default:        return \"\";\n      }\n    })\n    .filter(Boolean);\n  url += `&f_WT=${transformedRemote.join(\",\")}`;\n}\n\nif (jobType && jobType != \"\") {\n  const transformedJobType = jobType\n    .split(\",\")\n    .map((type) => {\n      switch (type.trim()) {\n        case \"Full-time\":  return \"F\";\n        case \"Part-time\":  return \"P\";\n        case \"Contract\":   return \"C\";\n        case \"Temporary\":  return \"T\";\n        case \"Internship\": return \"I\";\n        case \"Other\":      return \"O\";\n        default:           return \"\";\n      }\n    })\n    .filter(Boolean);\n  url += `&f_JT=${transformedJobType.join(\",\")}`;\n}\n\nreturn { url };"
      },
      "id": "8e9679f9-f523-4ae5-933a-50f4e085f9d1",
      "name": "Create search URL",
      "type": "n8n-nodes-base.code",
      "position": [
        1856,
        352
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "endpointUrl": "http://playwright-mcp:8931/sse",
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        1584,
        880
      ],
      "id": "b81615f6-9980-454f-9fcf-c69305b50c61",
      "name": "MCP Client",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1774rmHCxzcRWgYhHCzWKmtPapSAfyZlWxKQFKIZQ_lw",
          "mode": "list",
          "cachedResultName": "n8n - Job Search",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1774rmHCxzcRWgYhHCzWKmtPapSAfyZlWxKQFKIZQ_lw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 871562990,
          "mode": "list",
          "cachedResultName": "Exclusions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1774rmHCxzcRWgYhHCzWKmtPapSAfyZlWxKQFKIZQ_lw/edit#gid=871562990"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1200,
        352
      ],
      "id": "329f7b67-352d-451f-878f-c8f3b67d1990",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lBMUT03WIOnk3E2N",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "Get Exclusions from Google Sheet i.e. companies and roles you want excluded from the results sheet)",
        "height": 256,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1120,
        240
      ],
      "id": "052467c9-697e-4a0c-b59a-cd7afc18505f",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "13197864-2918-4e55-8991-8861ad723455",
      "name": "Fetch Jobs from Linkedin",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2064,
        352
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "const exclusionRows = $('Get row(s) in sheet1').all();\n\nconst excludedRoles = exclusionRows\n  .map(r => r.json.Roles?.toLowerCase().trim())\n  .filter(Boolean);\n\nconst excludedCompanies = exclusionRows\n  .map(r => r.json.Companies?.toLowerCase().trim())\n  .filter(Boolean);\n\nconst appliedLinks = exclusionRows\n  .map(r => r.json.Links?.toLowerCase().trim())\n  .filter(Boolean);\n\nconst link = ($('Split Out').first().json.links || '').toLowerCase().trim();\nconst linkBlocked = appliedLinks.some(l => l.includes(link) || link.includes(l));\n\nconst results = [];\nfor (const item of $input.all()) {\n  const title = (item.json.title || '').toLowerCase();\n  const company = (item.json.company || '').toLowerCase();\n\n  const titleBlocked = excludedRoles.some(role => title.includes(role));\n  const companyBlocked = excludedCompanies.some(co => company.includes(co));\n\n  if (!titleBlocked && !companyBlocked && !linkBlocked) {\n    results.push({ json: item.json });\n  } else {\n    results.push({ json: { filtered: 1 } });\n  }\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        656
      ],
      "id": "1aad8e3f-1f3b-434a-ba0d-734ea851dd80",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "content": "Filters out jobs based on keywords in Exclusions sheet: roles and companies",
        "height": 304,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1072,
        544
      ],
      "id": "c95e14f3-3fd2-4935-8807-5db186df92da",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9123757b-20a3-46de-9aab-7b700ed162be",
              "leftValue": "={{ $json.filtered }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1280,
        656
      ],
      "id": "99d50085-5b46-4aae-8d65-5f3373f1a6d7",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Fetch Job Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Job Page": {
      "main": [
        [
          {
            "node": "Parse Job Attributes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job Links": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Create search URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Job Attributes": {
      "main": [
        [
          {
            "node": "Modify Job Attributes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modify Job Attributes": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create search URL": {
      "main": [
        [
          {
            "node": "Fetch Jobs from Linkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Jobs from Linkedin": {
      "main": [
        [
          {
            "node": "Extract Job Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "adbd53cd-d944-4e0f-93c7-41709b7a070d",
  "meta": {
    "templateId": "6239",
    "templateCredsSetupCompleted": true,
    "instanceId": "28064b73631dec898d0ecf139e23c13ba2a27ec83c5bd0b5631db8be207ef309"
  },
  "id": "oiKTEN6RGSuBQnNU",
  "tags": []
}